/* GENERAL */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
}

/* GENERAL HEADER, SECTION, FOOTER*/

header, footer {
    min-height: 20vh;
    height: 100%;
    background-color: #11151D;
}


section {
    min-height: 60vh;
    width: 100%;
    height: 100%;
    background-color: #222D41;
}


/* SECTION MENU */

div.menu, h1.title {
   text-align: center;
}

.menu a {
    cursor: url('./image/icons8-army-knife-filled-50.png'), pointer;
}

h1.title, h3, h2, .accueil {
    color: #D76C58;
}

h1.title {
    padding: 50px 0;
    font-size: 90px;
}

h3.liste {
    font-size: 40px;
    padding-top: 50px;   
}

h3.liste:hover {
    color: #7F5056;
}

.btn {
    display: flex;
    justify-content: center;
}
    

/* SECTION CHEVALIERS */

#camelot {
    font-size: 30px;
    column-count: 5;
    padding: 30px;
}

section.chevalier h2 {
    padding: 15px;
    border: 2px solid #11151D;
}

.chev {
    cursor: url('./image/icons8-gun-filled-50.png'), pointer;
}

.chev:hover {
   color: #7F5056;
   background-color: #374158;
}

.knight {
    display: none;
}

.knight h3 {
    text-align: center;
    font-size: 3em;
    padding: 20px;
}

.box-chevalier {  
    font-size: 1.5em;
    color: #FFFFFF;
    padding: 20px;
    line-height: 1.5;
}

span {
    color: #D76C58;
    margin: 10px;
}


/* SECTION SEIGNEURS */

.box {
    display: none;
    padding: 20px 0 50px 0;
}

.box h1 {
    padding-top: 20px;
    color: #D76C58;
    text-align: center;
    font-size: 3em;
}

.box h2 {
    margin-top: 50px;
    margin-left: 10px;
    font-size: 2em;
}

.box p {
    color: #FFFFFF;
    margin: 20px 15px 0 15px;
    font-size: 1.5em;
}

.retour, .accueil {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px 20px;
    width: 150px;
    padding: 10px;
    cursor: url('./image/icons8-army-knife-filled-50.png'), pointer;
}

p.retour, .accueil {
    color: #D76C58;
    font-size: 40px;
    font-weight: bold;    
}

p.retour {
    display: none;
}

p.retour:hover, .accueil:hover {
    background-color: #7ACFB0;
    color: #11151D;
}

#container {
    column-count: 3;
    margin-left: 100px;
    padding: 30px;
}

.screen {
    width: 450px;
    height: 350px;
    float: left;
    padding: 10px 0;
}

img {
    width: 100%;
    height: 100%;
    cursor: url('./image/icons8-gun-filled-50.png'), pointer;
}

img:hover {
    opacity: 0.4;
}

/* SECTION META ARMURE */

.armure {
    width: auto;
    height: auto;
    padding: 10px 0;
}


@media only screen and (max-width: 1024px) {
    #camelot {
        font-size: 20px;
    }

    .image {
        width: 100%;
    }

    .screen {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    #camelot {
        column-count: 2;
    }

    #container {
       margin-left: 30px;
    }
}

@media only screen and (max-width: 430px) {

    h1.title {
        font-size: 60px;
    }

    #camelot {
        font-size: 15px;
    }

    #container {
        column-count: 2;
    }

    .armure {
        width: 100%;
        height: auto;
    }
}